* {
  box-sizing: border-box;
}
html {
  font-size: 15px;
  line-height: 18px;
}
body {
  width: 1280px;
  margin: auto;
}
.flex {
  display: flex;
}
.box {
  border: 1px solid #e3e5e8;
  border-radius: 10px;
  margin: 15px;
}
